.beer-item {
  display: flex;
  min-width: 60vw;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
  border-right: solid;
  border-right-width: 1px;
  border-right-color: black;
  
}

.beer-item img {
  padding-left: 25px;
  width: 1.8em;
  height: 7em;
}

.beername {
  margin-left: 3px;
  max-width: 25em;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.beer-data {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 10em;
  flex-direction: column;
  border-left: solid;
  border-left-width: 1px;
  border-left-color: black;
}

.beer-ibuabv {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
}

.abv {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: black;
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 5px;
  font-size: 14px;
}



.ibu {
  font-size: 14px;
}

.beerbuttondiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.beerbutton {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 15px;
  font-weight: 600;
  border-radius: 8px;
  padding: 7px 12px;
  border: 1px solid;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
    -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background-color: #fff;
  color: rgb(3, 3, 3);
}

.beerbutton:hover {
  border-color: rgb(238, 166, 31);
  background: linear-gradient(
    to right,
    rgb(238, 166, 31) 0%,
    rgb(239, 184, 81) 0%,
    rgb(231, 191, 117) 0%
  );
}
