.beer-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-decoration: none;
}

.beer-list ul {
  list-style: none;
  margin-right: 35px;
}

.line {
  min-width: 70vw;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
}

.link{
  text-decoration: none;
}


