.beer-list-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.ul {
    list-style: none
}

.line { 
    min-width: 70vw;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: black;
}

.beer-item {
    display: flex;
    min-width: 70vw;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: black;
}