.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
  }

  .form h3 {
    text-align: justify;
  }
  
  .form input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid;
    width: 20rem;
    max-width: 100%;
  }
  
  .invalid {
    border: 1px solid #b40e0e;
    background-color: #fddddd;
  }
  
  .form-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .form button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
      -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: linear-gradient(
      to right,
      rgb(238, 166, 31) 0%,
      rgb(239, 184, 81) 0%,
      rgb(231, 191, 117) 0%
    );
    color: #fff;
  }